/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  background-image: var(--page-bg);
  background-size: cover;
  font-family: var(--font-main), Arial, sans-serif;
  font-variation-settings: "wght" var(--font-weight-text);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.header {
  font-family: var(--font-accent);
  min-height: max(100vh, 667px);
  padding-top: 100px;
  padding-bottom: 100px;
}

.header__contain {
  width: clamp(280px, 100vw, 1200px);
  border: solid 2px black;
  padding-top: clamp(122px, 8vw, 130px);
  text-align: center;
  background-color: white;
}

.header__html {
  margin-bottom: 20px;
}

.header__text {
  margin-bottom: clamp(122px, 8vw, 130px);
}

.card {
  background-color: white;
  width: clamp(280px, 100vw, 1200px);
  border: solid 2px black;
}
